header {
    background-color: $fifth_color;
    z-index: 100;

    .mobile__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;

        .logo-mobile {
            z-index: 100;

            img {
                // width: 28vw;
                // padding-left: 6px;
            }
        }

        .mobile__menu-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 42px;
            height: 38px;
            border: 1px solid $main_color;
            border-radius: 50%;
            margin-right: 5px;
            cursor: pointer;
            z-index: 10;

            #hamburger {
                appearance: none;
                outline: none;
                border: none;
                background: none;
                cursor: pointer;
                display: flex;
                padding: 0;
                width: 30px;

                .line {
                    fill: none;
                    stroke: $main_color;
                    stroke-width: 6;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

                    &1 {
                        stroke-dasharray: 60 207;
                        stroke-width: 6;
                    }

                    &2 {
                        stroke-dasharray: 60 60;
                        stroke-width: 6;
                    }

                    &3 {
                        stroke-dasharray: 60 207;
                        stroke-width: 6;
                    }
                }

                &.open .line {
                    &1 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }

                    &2 {
                        stroke-dasharray: 1 60;
                        stroke-dashoffset: -30;
                        stroke-width: 6;
                    }

                    &3 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }
                }
            }

        }

        .mobile__nav {
            .nav__list {
                &-mobile {
                    position: fixed;
                    overflow-x: scroll;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 375px;
                    padding-top: 135px;
                    margin: auto;
                    opacity: 0;
                    transform: translateY(-100%);
                    background-color: $fifth_color;
                    color: #fff;
                    transition: 0.4s;

                    .social__button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        position: absolute;
                        width: 100%;
                        padding-top: 6.8em;

                        .nav__link img {
                            cursor: pointer;
                        }
                    }

                    .login__user {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;


                        &-icon {
                            width: 63px;
                            height: 63px;
                            border-radius: 100%;
                            background: rgba(220, 220, 250, 0.8);
                        }

                        .label {
                            @include montserrat;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 150%;
                            color: $text__color;
                        }

                    }

                    .mobile_dropdown__nav {
                        display: none;

                        &.show {
                            display: block;
                            z-index: 100;
                        }

                        .nav {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            width: 100%;
                            margin-top: 40.74px;
                            border-bottom: 1px solid rgba(220, 220, 250, 0.8);

                            &-link {
                                @include montserrat;
                                font-weight: $fw-normal;
                                font-size: 20px;
                                line-height: 110%;
                                text-align: center;
                                margin-bottom: 40px;

                                color: $text__color;
                            }
                        }
                    }
                }
            }

            .login {
                margin-bottom: 76px;
                padding-bottom: 50px;

                .default__btn {
                    @include default__btn;
                    text-align: center;
                }

                .signin__button {
                    @include montserrat;
                    font-weight: $fw-bold;
                    font-size: 21px;
                    line-height: 23px;
                    color: $fifth_color;
                    margin-bottom: 40px;
                }
            }

            .navigation {
                margin-top: 59px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;

                .nav__link {
                    text-decoration: none;
                    color: $text__color;
                    text-align: center;
                    font-size: 1.25rem;
                    transition: 0.4s;

                    @include montserrat;
                    font-weight: $fw-normal;
                    font-size: 1.25em;
                    line-height: 110%;
                    text-align: center;
                    color: $text__color;
                    margin-bottom: 40px;
                }
            }

            .mobile__open {
                opacity: 1;
                transform: translateY(0);
                z-index: 10;
            }
        }

        .mobile__cart {
            padding-left: 4.7em;
        }
    }

    .main__header {
        display: none;
    }
}

@media (min-width: 1200px) {
    header {
        background-color: $fifth_color;
        box-shadow: 0px 5px 30px rgba(39, 35, 225, 0.2);

        .container {
            @include container;

            .main__header {
                display: flex;
                flex-direction: column;
                color: $fifth_color;

                .main__nav {
                    display: flex;
                    gap: 9.2em;
                    align-items: center;
                    font-size: 1.125em;

                    .logo {
                        margin-top: 21px;
                        margin-bottom: 20px;
                        margin-left: 100px;

                        img {}
                    }

                    .nav__list {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 39%;
                        color: $text__color;
                        padding: 5px 0px 0px 10em;

                        .nav__link {
                            @include montserrat;
                            font-weight: $fw-normal;
                            color: $text__color;
                            font-size: 0.875em;
                            line-height: 1.438em;
                        }
                    }

                    .cart__login {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        &#logged {
                            gap: 37px;
                            margin: auto 0 auto 138px;
                        }

                        .login__user {
                            &-icon {}

                            &-arrow {
                                position: absolute;
                                top: 37px;
                                right: 41px;
                            }
                        }

                        .dropdown__nav {
                            position: absolute;
                            padding-top: 17px;
                            overflow: hidden;
                            transition: height 0.5s ease-out;
                            display: none;
                            height: 0;
                            width: 131px;
                            top: 49px;
                            left: 49px;

                            &.show {
                                display: block;
                                height: auto;
                                z-index: 100;
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                top: 10px;
                                width: 0;
                                height: 0;
                                margin-left: 14px;
                                border-style: solid;
                                border-width: 0 9px 9px 9px;
                                border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $fifth_color rgba(0, 0, 0, 0);
                            }


                            .nav {
                                background: $fifth_color;
                                border-radius: 5px;
                                padding: 15px 11px 1px 16px;
                                box-shadow: 0 5px 45px #29216b40;

                                &-link {
                                    display: flex;
                                    flex-direction: column;
                                    // width: 100%;
                                    @include montserrat;
                                    font-weight: $fw-normal;
                                    font-size: 12px;
                                    line-height: 20px;
                                    color: $text__color;
                                    margin-bottom: 12px;

                                    &.active {
                                        font-weight: $fw-bold_1;
                                    }
                                }
                            }
                        }

                        .login {
                            @include montserrat;
                            font-weight: $fw-normal;
                            color: $text__color;
                            text-align: right;
                            font-size: 0.875em;
                            line-height: 1.438em;
                            margin: 0 8px;
                        }

                        .register {
                            border: 1px solid $main_color;
                            border-radius: 35px;
                            padding: 12.5px 30px;

                            .register__button {
                                @include montserrat;
                                font-weight: $fw-normal;
                                color: $text__color;
                                font-size: 14.5px;
                            }
                        }
                    }
                }
            }
        }

        .mobile__header {
            display: none;
        }
    }
}