.main__personal {
    .personal__content-certificate {
        background-position: 50% calc(100% + 270px);
        background-image: url('../../img/background-7.png');
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 50px 20px 66px;

        .container {
            @include container;

            .personal__content-filter {
                .swiper {
                    border-top: 2px solid rgba(220, 220, 250, 0.8);
                    border-bottom: 2px solid rgba(220, 220, 250, 0.8);
                    width: 100%;

                    .swiper-wrapper {

                        display: flex;
                        align-items: center;

                        .swiper-slide {
                            width: fit-content;
                            margin-right: 27px;
                            padding: 16px 0;

                            @include lora;
                            font-weight: $fw-normal;
                            font-size: 16px;
                            line-height: 20px;
                            color: $text__color;

                            &.filter-slide.active {
                                font-weight: $fw-bold_1;
                                border-bottom: 4px solid $main_color;
                                margin-bottom: -3px;

                            }

                            &.filter-slide a {
                                font-weight: $fw-bold_1;
                                color: $text__color;
                            }
                        }
                    }

                }

                .content {
                    &-slide {
                        &-personal__page__content {
                            .personal__page__content__title {
                                margin-top: 51px;

                                @include montserrat;
                                font-weight: $fw-normal;
                                font-size: 20px;
                                line-height: 108%;
                                color: $text__color;
                            }

                            &-inner {
                                margin-top: 46px;
                                margin-bottom: 17px;
                                text-align: center;
                                padding: 0px 10px;

                                .no-certificate-icon {
                                    width: 210px;
                                }

                                .no-certificate {
                                    margin-top: 46px;
                                    margin-bottom: 20px;
                                    @include montserrat;
                                    font-weight: $fw-smaller;
                                    font-size: 28px;
                                    line-height: 108%;
                                    display: flex;
                                    align-items: center;
                                    text-align: center;

                                    color: $text__color;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}