body {
    background-color: $body;
    margin: 0;

    .main__products {
        .choose__course {
            background: rgba(220, 220, 250, 0.5);
            padding: 40px 41px;
            display: flex;
            align-items: center;
            flex-direction: column;

            gap: 19px;

            &-name {
                @include lora;
                font-weight: $fw-normal;
                font-size: 20px;
                line-height: 107.5%;
                color: $nav__btn;
            }

            &-start__btn {
                padding: 12px 35px;
                background: $nav__btn;
                border: 1px solid $nav__btn;
                border-radius: 88px;

                @include montserrat;
                font-weight: $fw-bold_1;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
            }
        }

        .products__list {
            padding: 50px 20px 0px;

            .container {
                @include container;

                h2 {
                    @include montserrat;
                    font-weight: $fw-smaller;
                    font-size: 28px;
                    line-height: 108%;
                    text-align: center;

                    color: $text__color;
                }

                .access__block {
                    @include lora;
                    font-weight: $fw-normal;
                    font-size: 14px;
                    line-height: 150%;
                    text-align: center;
                    color: $black_text__color;
                    margin: 25px 0px 33px;

                    a {
                        @include lora;
                        font-weight: $fw-bold_1;
                        font-size: 14px;
                        line-height: 150%;
                        text-align: center;
                        color: $nav__btn;
                    }
                }

                .products__list-filter {

                    .tabs {
                        &-filter__nav {
                            padding: 10px 0 0;

                            border-top: 2px solid rgba(220, 220, 250, 0.8);
                            border-bottom: 2px solid rgba(220, 220, 250, 0.8);

                            display: flex;
                            align-items: center;

                            &-item {
                                padding: 12px 0;
                                margin-right: 70px;

                                @include lora;
                                font-weight: $fw-normal;
                                font-size: 16px;
                                line-height: 20px;
                                color: $text__color;
                                cursor: pointer;

                                &.active {
                                    font-weight: $fw-bold_1;
                                    border-bottom: 4px solid $nav__btn;
                                    margin-bottom: -3px;
                                    width: 32px;
                                }
                            }
                        }

                        &-filter__content {
                            padding: 42px 0 30px;
                        }

                        &-filter__item {
                            display: none;

                            .courses-inner {
                                margin-bottom: 40px;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &-content {
                                    padding: 14px 0 38px;
                                    border-bottom: 2px solid rgba(220, 220, 250, 0.8);

                                    .title {
                                        @include lora;
                                        font-weight: $fw-bold_1;
                                        font-size: 18px;
                                        line-height: 150%;
                                        color: $nav__btn;
                                    }

                                    .author {
                                        @include lora;
                                        font-weight: $fw-bold_1;
                                        font-size: 10px;
                                        line-height: 150%;
                                        color: $text__color;
                                    }

                                    .description {
                                        @include lora;
                                        font-weight: $fw-normal;
                                        font-size: 14px;
                                        line-height: 150%;
                                        color: $black_text__color;
                                        margin: 15px 0;
                                    }

                                    .info {

                                        &-level,
                                        &-duration,
                                        &-certificate {
                                            display: flex;
                                            align-items: center;
                                            gap: 13px;
                                            margin-bottom: 15px;

                                            .icon {
                                                width: 14px;
                                                height: 14px;
                                            }

                                            .name {
                                                @include lora;
                                                font-weight: $fw-bold_1;
                                                font-size: 14px;
                                                line-height: 150%;
                                                color: $text__color;
                                            }

                                            &:last-child {
                                                margin-bottom: 8px;
                                            }
                                        }
                                    }

                                    .courses__btn {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                        gap: 14px;

                                        @include montserrat;
                                        font-weight: $fw-bold_1;
                                        font-size: 14px;
                                        line-height: 17px;
                                        color: $nav__btn;

                                        img {
                                            width: 29.2px;
                                            height: 29.2px;
                                        }
                                    }
                                }
                            }

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .courses__help {
            width: 100%;
            padding: 50px 20px 61px;
            box-sizing: border-box;
            text-align: center;
            background: rgba(220, 220, 250, .5);
            background-image: url('.../../img/coursesBg-mobile.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50% -28%;

            &-name {
                @include montserrat;
                font-weight: $fw-smaller;
                font-size: 28px;
                line-height: 108%;
                text-align: center;
                color: $text__color;
                margin-bottom: 43px;
            }

            &-start__btn {
                padding: 12px 35px;
                background: $nav__btn;
                border: 0.661957px solid $nav__btn;
                border-radius: 58.2522px;
                color: #FFFFFF;

                @include montserrat;
                font-weight: $fw-bold_1;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
        }
    }

    @media (min-width: 1200px) {
        .main__products {
            .choose__course {
                padding: 25px;
                flex-direction: row;
                justify-content: center;

                &-name {
                    flex: 0 0 27%;
                    font-size: 24.5px;
                    line-height: 107.5%;
                    color: $nav__btn;
                }

                &-start__btn {
                    flex: 0 0 12%;
                    padding: 12px 60px;

                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
            }

            .products__list {
                padding: 92px 100px 65px;

                .container {
                    h2 {
                        font-weight: $fw-smaller;
                        font-size: 48px;
                        line-height: 108%;
                        text-align: left;

                        color: $text__color;
                    }

                    .access__block {
                        font-size: 18px;
                        text-align: left;

                        .break {
                            display: block;
                        }

                        a {
                            font-size: 18px;
                        }
                    }

                    .products__list-filter {

                        .tabs {
                            &-filter__nav {
                                padding: 7px 0 0;

                                border-top: 2px solid rgba(220, 220, 250, 0.8);
                                border-bottom: 2px solid rgba(220, 220, 250, 0.8);

                                display: flex;
                                align-items: center;

                                &-item {
                                    padding: 12px 0 16px;
                                    margin-right: 93px;
                                    font-size: 18px;
                                    line-height: 23px;

                                    &.active {
                                        border-bottom: 4px solid $nav__btn;
                                        margin-bottom: 0;
                                        width: 32px;
                                    }
                                }
                            }

                            &-filter__content {
                                padding: 42px 0 30px;
                            }

                            &-filter__item {
                                display: none;

                                .courses-inner {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;
                                    gap: 95px;

                                    border: 1px solid $nav__btn;
                                    filter: drop-shadow(0px 10px 45px rgba(41, 33, 107, 0.25));
                                    border-radius: 20px;
                                    margin-bottom: 55px;


                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    &-image {
                                        order: 2;
                                        flex: 0 0 40%;
                                        border-radius: 20px;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: cover;
                                        width: 522px;
                                        height: 350px;
                                        margin-top: 40px;
                                    }

                                    &-content {
                                        padding: 81px 20px 38px 50px;
                                        order: 1;
                                        flex: 0 0 50%;

                                        .title {
                                            font-size: 24px;
                                            line-height: 150%;
                                        }

                                        .author {
                                            font-size: 12px;
                                            line-height: 150%;
                                        }

                                        .description {
                                            font-size: 16px;
                                            line-height: 150%;
                                            margin: 19px 0;
                                        }

                                        .info {
                                            display: flex;
                                            align-items: center;
                                            gap: 55px;
                                            margin-bottom: 21px;

                                            &-level,
                                            &-duration,
                                            &-certificate {
                                                display: flex;
                                                align-items: center;
                                                gap: 13px;
                                                margin-bottom: 15px;

                                                .icon {
                                                    width: 18px;
                                                    height: 18px;
                                                }

                                                .name {
                                                    font-size: 18px;
                                                }

                                                &:last-child {
                                                    margin-bottom: 8px;
                                                }
                                            }
                                        }

                                        .courses__btn {
                                            width: 185px;
                                            padding: 12px;
                                            background: $nav__btn;
                                            border-radius: 88px;
                                            justify-content: center;
                                            font-size: 18px;
                                            line-height: 22px;
                                            color: #FFFFFF;

                                            img {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                &.active {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .courses__help {
                padding: 93px 421px 100px;
                background-image: url('.../../img/coursesBg-pc.png');
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 50% -3%;

                &-name {
                    font-weight: $fw-smaller;
                    font-size: 48px;
                    line-height: 110%;
                    text-align: center;
                    margin-bottom: 70px;
                }

                &-start__btn {
                    padding: 12px 60px;
                    border-radius: 88px;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}