@mixin montserrat {
    font-family: 'Montserrat';
    font-style: normal;
}

@mixin lorna {
    font-family: 'Lorna';
    font-style: normal;
}

@mixin default__btn {
    background: $nav__btn;
    padding: 20px 40px;
    gap: 20px;

    position: absolute;
    width: 335px;
    height: 63px;
    left: 20px;

    background: #2723E1;
    border-radius: 35px;
}

@mixin container {
    max-width: 1440px;
    margin: 0 auto;
}