$body: #F8F8FF;
$nav__background: #FFFFFF;
$mobile-nav__background: #DCDCDC;
$nav__btn: #2723E1;
$text__color: #39228A;
$black_text__color: #000000;
$fw-smaller: 300;
$fw-normal: 500;
$fw-bold_1: 600;
$fw-bold: 700;
$fw-black: 900;
$container: 1440px;
$breakpoint-mobile: 480px;
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');